<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTC/USD</key>
	<real>40000</real>
	<key>ETH/USD</key>
	<real>3000</real>
	<key>BTC/RMB</key>
	<integer>250000</integer>
	<key>ETH/RMB</key>
	<integer>20000</integer>
</dict>
</plist>
